@keyframes moveInLeft {
  /* Start */
  0% {
    opacity: 0;
    transform: translateX(-10rem); }
  80% {
    transform: translateX(1rem); }
  /* Finish */
  100% {
    opacity: 1;
    transform: translate(0); } }

@keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translateX(10rem); }
  80% {
    transform: translateX(-1rem); }
  100% {
    opacity: 1;
    transform: translate(0); } }

@keyframes moveInBottom {
  0% {
    opacity: 0;
    transform: translateY(3rem); }
  100% {
    opacity: 1;
    transform: translate(0); } }

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  box-sizing: border-box;
  font-size: 62.5%; }

body {
  font-family: "Open Sans", sans-serif;
  color: #333;
  font-weight: 300;
  line-height: 1.6; }

.container {
  position: relative;
  display: grid;
  grid-template-rows: 5rem calc(100vh - 5rem);
  grid-template-columns: [full-start] minmax(6rem, 1fr) [center-start] repeat(8, [col-start] minmax(min-content, 14rem) [col-end]) [center-end] minmax(6rem, 1fr) [full-end];
  height: 2000px; }

.heading-primary {
  color: #fff;
  text-transform: uppercase;
  text-align: center;
  backface-visibility: hidden;
  margin-bottom: 4rem; }
  .heading-primary--main {
    display: block;
    font-size: 6rem;
    font-weight: 400;
    letter-spacing: 2.5rem;
    animation: moveInLeft;
    animation-duration: 1s;
    animation-timing-function: ease-out; }
  .heading-primary--sub {
    display: block;
    font-size: 2rem;
    font-weight: 700;
    letter-spacing: 1.75rem;
    animation: moveInRight 1s ease-out; }

.btn, .btn:link, .btn:visited {
  text-transform: uppercase;
  text-decoration: none;
  padding: 1.5rem 4rem;
  display: inline-block;
  border-radius: 0.5rem;
  transition: all 0.2s;
  position: relative;
  font-size: 1.6rem;
  font-weight: 600;
  border: none;
  cursor: pointer; }

.btn:hover {
  transform: translateY(-3px);
  /* Related to the initial state */
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
  /*          X Y    Blur   Color */ }
  .btn:hover::after {
    transform: scaleX(1.4) scaleY(1.6);
    opacity: 0;
    /* Trick for fading out */ }

.btn:active, .btn:focus {
  outline: none;
  transform: translateY(-1px);
  /* Related to the initial state */
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
  /* From experience better in active state less shadow and less blurry */ }

.btn--white {
  background-color: #fff;
  color: #2e444f; }
  .btn--white::after {
    background-color: #fff; }

.btn--green {
  background-color: #c59e2d;
  color: #fff; }
  .btn--green::after {
    background-color: #c59e2d; }

.btn--animated {
  animation: moveInBottom 0.5s ease-out 0.75s;
  animation-fill-mode: backwards;
  /* Applies styles up to 0% before the animation starts */ }

.header {
  grid-column: full-start / full-end;
  background-image: linear-gradient(to right bottom, rgba(244, 201, 85, 0.8), rgba(156, 122, 0, 0.8)), url(../img/hero.jpg);
  background-size: cover;
  background-position: center;
  position: relative;
  display: grid;
  grid-template-columns: max-content;
  align-content: center;
  justify-content: center;
  justify-items: center; }
  @supports (clip-path: polygon(0 0, 0 0, 0 0, 0 0)) or (-webkit-clip-path: polygon(0 0, 0 0, 0 0, 0 0)) {
    .header {
      -webkit-clip-path: polygon(0 0, 100% 0, 100% 80vh, 0 100%);
      clip-path: polygon(0 0, 100% 0, 100% 80vh, 0 100%); } }

.navigation__nav {
  position: sticky;
  top: 0;
  grid-column: full-start / full-end;
  background-color: #2e444f;
  z-index: 2; }

.navigation__list {
  list-style: none;
  display: flex;
  justify-content: end; }

.navigation__link:link, .navigation__link:visited {
  font-size: 1.4rem;
  color: #fff;
  text-decoration: none;
  font-family: "Open Sans", sans-serif;
  text-transform: uppercase;
  text-align: center;
  padding: 1.5rem;
  display: block;
  transition: all 0.2s; }

.navigation__link:hover, .navigation__link:active {
  background-color: rgba(255, 255, 255, 0.05);
  transform: translateY(-3px); }

.container--menu {
  display: grid;
  grid-template-columns: [full-start] minmax(6rem, 1fr) [center-start] repeat(8, [col-start] minmax(min-content, 14rem) [col-end]) [center-end] minmax(6rem, 1fr) [full-end]; }

.menu {
  grid-column: center-start / center-end;
  margin: 15rem 0;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
  row-gap: 2rem;
  column-gap: 5rem; }
  .menu__type {
    grid-column: 1 / -1; }
  .menu__items {
    background-color: orangered; }
  .menu__items--with-price {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-items: end; }
  .menu__item {
    justify-self: start; }
  .menu__headline {
    grid-column: 1 / -1;
    color: white;
    margin-bottom: 2rem; }
