@charset "UTF-8";
@keyframes moveInLeft {
  /* Start */
  0% {
    opacity: 0;
    transform: translateX(-10rem); }
  80% {
    transform: translateX(1rem); }
  /* Finish */
  100% {
    opacity: 1;
    transform: translate(0); } }

@keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translateX(10rem); }
  80% {
    transform: translateX(-1rem); }
  100% {
    opacity: 1;
    transform: translate(0); } }

@keyframes moveInBottom {
  0% {
    opacity: 0;
    transform: translateY(3rem); }
  100% {
    opacity: 1;
    transform: translate(0); } }

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  box-sizing: border-box;
  font-size: 62.5%; }

body {
  font-family: "Open Sans", sans-serif;
  color: #333;
  font-weight: 300;
  line-height: 1.6; }

.container {
  position: relative;
  display: grid;
  grid-template-rows: 5rem calc(100vh - 5rem);
  grid-template-columns: [full-start] minmax(6rem, 1fr) [center-start] repeat(8, [col-start] minmax(min-content, 14rem) [col-end]) [center-end] minmax(6rem, 1fr) [full-end];
  height: 2000px;
  background-color: #f9f7f6; }

.heading-primary, .heading-secondary, .heading-tertiary, .heading-4 {
  font-family: "Lato", sans-serif;
  font-weight: 400; }

.heading-primary {
  color: #fff;
  text-transform: uppercase;
  text-align: center;
  backface-visibility: hidden;
  margin-bottom: 4rem; }
  .heading-primary--main {
    font-size: 6rem;
    letter-spacing: 2.25rem;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin-bottom: 3rem;
    animation: moveInLeft;
    animation-duration: 1s;
    animation-timing-function: ease-out; }
  .heading-primary--sub {
    display: block;
    font-size: 2rem;
    font-weight: 700;
    letter-spacing: 1.5rem;
    animation: moveInRight 1s ease-out; }

.heading-secondary {
  text-transform: uppercase;
  font-size: 2rem;
  text-decoration: underline; }
  .heading-secondary--white {
    color: #fff; }

.heading-tertiary {
  font-size: 2rem; }
  .heading-tertiary--white {
    color: #fff; }

.heading-4 {
  font-size: 1.9rem; }
  .heading-4--light {
    color: #f9f7f6; }
  .heading-4--dark {
    color: #333; }

.mb-sm {
  margin-bottom: 1rem; }

.mb-md {
  margin-bottom: 2rem; }

.mb-lg {
  margin-bottom: 4rem; }

.mb-hg {
  margin-bottom: žrem; }

.ml-sm {
  margin-left: 1rem !important; }

.ml-md {
  margin-left: 2rem !important; }

.ml-lg {
  margin-left: 4rem !important; }

.ml-hg {
  margin-left: 6rem !important; }

.mr-sm {
  margin-right: 1rem !important; }

.mr-md {
  margin-right: 2rem !important; }

.mr-lg {
  margin-right: 4rem !important; }

.mr-hg {
  margin-right: 6rem !important; }

.pr-sm {
  padding-right: 2rem; }

.gr-all-clo {
  grid-column: 1 / -1 !important; }

.btn, .btn:link, .btn:visited {
  text-transform: uppercase;
  text-decoration: none;
  padding: 1.5rem 4rem;
  display: inline-block;
  border-radius: 0.5rem;
  transition: all 0.2s;
  position: relative;
  font-size: 1.6rem;
  font-family: "Lato", sans-serif;
  font-weight: 600;
  border: none;
  cursor: pointer; }

.btn:hover {
  transform: translateY(-3px);
  /* Related to the initial state */
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
  /*          X Y    Blur   Color */ }
  .btn:hover::after {
    transform: scaleX(1.4) scaleY(1.6);
    opacity: 0;
    /* Trick for fading out */ }

.btn:active, .btn:focus {
  outline: none;
  transform: translateY(-1px);
  /* Related to the initial state */
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
  /* From experience better in active state less shadow and less blurry */ }

.btn--white {
  background-color: #fff;
  color: #333; }
  .btn--white::after {
    background-color: #fff; }

.btn--green {
  background-color: #c59e2d;
  color: #fff; }
  .btn--green::after {
    background-color: #c59e2d; }

.btn--animated {
  animation: moveInBottom 0.5s ease-out 0.75s;
  animation-fill-mode: backwards;
  /* Applies styles up to 0% before the animation starts */ }

.features {
  grid-column: center-start / center-end;
  margin: 10rem 0 10rem 0; }
  @supports (display: grid) {
    .features {
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
      gap: 6rem;
      align-items: start; } }

.feature {
  float: left;
  width: 33.33333%;
  margin-bottom: 6rem;
  transition: all 0.3s;
  display: grid;
  grid-template-columns: 1fr;
  row-gap: 1.5rem; }
  @supports (display: grid) {
    .feature {
      width: auto;
      margin-bottom: 0; } }
  .feature:hover {
    transform: scale(1.2); }
  .feature__text {
    font-size: 1.7rem; }

#map {
  height: 80rem;
  width: 80rem; }

.story__pictures {
  background-color: #c59e2d;
  grid-column: full-start / col-end 4;
  background-image: linear-gradient(rgba(197, 158, 45, 0.5), rgba(197, 158, 45, 0.5)); }

.story__content {
  background-color: #e6e6e6;
  grid-column: col-start 5 / full-end;
  padding: 6rem 8vw;
  /*    
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: flex-start; 
      */
  display: grid;
  align-content: center;
  justify-items: start; }

.story__text {
  font-size: 1.5rem;
  margin-bottom: 4rem; }

.header {
  grid-column: full-start / full-end;
  background-image: linear-gradient(to right bottom, rgba(244, 201, 85, 0.8), rgba(156, 122, 0, 0.8)), url(../img/hero.jpg);
  background-size: cover;
  background-position: center;
  position: relative;
  display: grid;
  grid-template-columns: max-content;
  align-content: center;
  justify-content: center;
  justify-items: center; }
  @supports (clip-path: polygon(0 0, 0 0, 0 0, 0 0)) or (-webkit-clip-path: polygon(0 0, 0 0, 0 0, 0 0)) {
    .header {
      -webkit-clip-path: polygon(0 0, 100% 0, 100% 80vh, 0 100%);
      clip-path: polygon(0 0, 100% 0, 100% 80vh, 0 100%); } }

.navigation__nav {
  position: sticky;
  top: 0;
  grid-column: full-start / full-end;
  background-color: #2e444f;
  z-index: 2; }

.navigation__list {
  list-style: none;
  display: grid;
  grid-template-columns: repeat(4, max-content);
  align-items: center;
  justify-content: end;
  margin-right: 2rem; }

.navigation__link:link, .navigation__link:visited {
  font-size: 1.4rem;
  font-weight: 600;
  color: #fff;
  text-decoration: none;
  font-family: "Open Sans", sans-serif;
  text-transform: uppercase;
  text-align: center;
  padding: 1.5rem;
  display: block;
  transition: all 0.2s; }

.navigation__link:hover, .navigation__link:active, .navigation__link:focus {
  background-color: rgba(255, 255, 255, 0.05); }

.navigation__link:hover {
  transform: translateY(-3px); }

.navigation__link:active, .navigation__link:focus {
  transform: translateY(0); }

.container--menu {
  display: grid;
  grid-template-columns: [full-start] minmax(4rem, 1fr) [center-start] repeat(8, [col-start] minmax(min-content, 14rem) [col-end]) [center-end] minmax(6rem, 1fr) [full-end]; }

.menu {
  grid-column: center-start / center-end;
  margin: 10rem 0;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
  row-gap: 2rem;
  column-gap: 5rem; }
  .menu__type {
    grid-column: 1 / -1; }
  .menu__items {
    background-color: #c59e2d;
    background-image: linear-gradient(to right bottom, #f4c955, rgba(156, 122, 0, 0.7)), url(../img/hero.jpg);
    background-size: cover;
    background-position: center;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
    border-radius: 3px;
    transition: all 0.5s; }
  .menu__items--with-price {
    display: grid;
    grid-template-columns: max-content 1fr; }
  .menu__item-name, .menu__item-price {
    color: #2e444f;
    font-size: 1.6rem;
    font-weight: 700; }
  .menu__item-price {
    justify-self: end; }
  .menu__headline {
    grid-column: 1 / -1;
    color: white;
    margin-bottom: 2rem; }
  .menu__items:hover {
    transform: scale(1.2); }
