.header {
  grid-column: full-start / full-end;

  background-image: linear-gradient(
      to right bottom,
      rgba($color-primary-light, 0.8),
      rgba($color-primary-dark, 0.8)
    ),
    url(../img/hero.jpg);
  background-size: cover;
  background-position: center;
  position: relative;

  @supports (clip-path: polygon(0 0, 0 0, 0 0, 0 0)) or
    (-webkit-clip-path: polygon(0 0, 0 0, 0 0, 0 0)) {
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 80vh, 0 100%);
    clip-path: polygon(0 0, 100% 0, 100% 80vh, 0 100%);
  }

  display: grid;
  grid-template-columns: max-content;
  align-content: center;
  justify-content: center;

  justify-items: center;

  //   &__text-box {
  //     width: 80%;
  //     position: absolute;
  //     text-align: center;
  //     top: 50%;
  //     left: 50%;
  //     /* this top and left are in relation to the parent element */
  //     transform: translate(-50%, -50%);
  //     /* Transform this in relation to the element itself*/
  //   }
}
