%heading {
  font-family: $font-primary;
  font-weight: 400;
}
// Heading 1-4 will be copied in this selector

.heading-primary {
  color: $color-white;
  text-transform: uppercase;
  text-align: center;

  backface-visibility: hidden;
  margin-bottom: 4rem;

  &--main {
    display: block;
    font-size: 6rem;
    font-weight: 400;
    letter-spacing: 2.5rem;

    animation: moveInLeft;
    animation-duration: 1s;
    animation-timing-function: ease-out;
  }

  &--sub {
    display: block;
    font-size: 2rem;
    font-weight: 700;
    letter-spacing: 1.75rem;
    animation: moveInRight 1s ease-out;
  }
}

.heading-tertiary {
  font-size: 2rem;

  &--white {
    color: $color-white;
  }
}

.heading-4 {
  @extend %heading;
  font-size: 1.9rem;

  &--light {
    color: $color-grey-light-1;
  }
  &--dark {
    color: $color-grey-dark;
  }
}
