.container--menu {
  display: grid;
  grid-template-columns:
    [ full-start]
    minmax(6rem, 1fr) [center-start] repeat(
      8,
      [col-start] minmax(min-content, 14rem) [col-end]
    )
    [center-end] minmax(6rem, 1fr) [full-end];
}

.menu {
  grid-column: center-start / center-end;
  margin: 15rem 0;

  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
  row-gap: 2rem;
  column-gap: 5rem;

  &__type {
    grid-column: 1 / -1;
  }

  &__items {
    background-color: $color-primary;
    background-image: linear-gradient(
        to right bottom,
        rgba($color-primary-light, 0.8),
        rgba($color-primary-dark, 0.8)
      ),
      url(../img/hero.jpg);
    background-size: cover;
    background-position: center;
    box-shadow: 0 0.5rem 1rem rgba($color-black, 0.2);
    border-radius: $default-border-radius;
    transition: all 0.5s;
  }

  &__items--with-price {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-items: end;
  }

  &__item {
    color: $color-grey-light;
    font-size: 1.5rem;
    font-weight: 600;
    justify-self: start;
  }

  &__headline {
    grid-column: 1 / -1;
    color: white;
    margin-bottom: 2rem;
  }

  &__items:hover {
    transform: scale(1.2);
  }
}
