.container--menu {
  display: grid;
  grid-template-columns:
    [ full-start]
    minmax(4rem, 1fr) [center-start] repeat(
      8,
      [col-start] minmax(min-content, 14rem) [col-end]
    )
    [center-end] minmax(6rem, 1fr) [full-end];
}

.menu {
  grid-column: center-start / center-end;
  margin: 10rem 0;

  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
  row-gap: 2rem;
  column-gap: 5rem;

  &__type {
    grid-column: 1 / -1;
  }

  &__items {
    background-color: $color-primary;
    background-image: linear-gradient(
        to right bottom,
        rgba($color-primary-light, 3),
        rgba($color-primary-dark, 0.7)
      ),
      url(../img/hero.jpg);
    background-size: cover;
    background-position: center;
    box-shadow: 0 0.5rem 1rem rgba($color-black, 0.2);
    border-radius: $default-border-radius;
    transition: all 0.5s;
  }

  &__items--with-price {
    display: grid;
    grid-template-columns: max-content 1fr;
  }

  &__item-name,
  &__item-price {
    color: $color-secondary;
    font-size: $default-font-size;
    font-weight: 700;
  }
  &__item-price {
    justify-self: end;
  }

  &__headline {
    grid-column: 1 / -1;
    color: white;
    margin-bottom: 2rem;
  }

  &__items:hover {
    transform: scale(1.2);
  }
}
